################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/shaftech.in/CopilotIndices/17.14.1231.31060
/.vs/shaftech.in/FileContentIndex
/.vs/shaftech.in/v17
/.vs/shaftech.in/config/applicationhost.config
/.vs
